.content {
    padding-top: 21px;
    max-width: 756px;
    margin-left: 30px;
    .breadcrumbs {
        display: flex;
        align-items: center;
        li:first-child {
            margin-left: 0;
        }
        &__item {
            margin-left: 5px;
            a {
                i {
                    color: #AAAAAA;
                    font-size: 22px;
                }
            }
            span {
                text-decoration: underline;
                span.clgrey {
                    color: #AAAAAA;
                    text-decoration: none;
                }
            }
        }
    }
    hr {
        margin: 0;
        border: 0;
        border-bottom: 1px solid #BDBDBD;
        margin-top: 10px;
        margin-bottom: 25px;
    }
    &__title {
        margin-bottom: 15px;
    }
    &__descr {
        margin-bottom: 40px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #7D7D7D;
    }
    &__card-wrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-height: 288px;
        margin-right: 15px;
        margin-bottom: 20px;
        background: #FFFFFF;
        box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        &__img {
            img {
                max-width: 100%;
            }
        }
        &__title {
            padding-top: 2px;
            padding-left: 6px;
            font-weight: 400;
            font-size: 18px;
            color: #000000;
        }
        &__subtitle {
            padding-top: 7px;
            padding-left: 6px;
            font-weight: 400;
            font-size: 12px;
            color: #969696;
            span {
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: #000000; 
            }
        }
        &__size-price-wrapper {
            display: flex;
            align-items: center;
            padding-top: 7px;
            padding-left: 6px;
        }
        &__size {
            width: 77px;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #25A510;
            font-weight: 700;
            font-size: 16px;
            color: #FFFFFF;
        }
        &__price {
            padding-left: 10px;
            .price {
                &__new {
                    font-weight: 500;
                    font-size: 18px;
                    color: #000000;
                    padding-bottom: 3px;
                }
                &__old {
                    font-weight: 400;
                    font-size: 12px;
                    text-decoration-line: line-through;
                    color: #969696;
                }
            }
        }
        &__about {
            margin-top: 8px;
        }
        &:hover .button--main {
            background: #fff;
            color: #f06800;
            text-decoration: underline;
            path {
                fill: #F06800;
            }
        }
        .front-back-blocks {
            overflow: hidden;
            &:hover .front-block {
                margin-left: -200px;
            }
            &:hover .back-block {
                margin-left: 0;
            }
            .front-block, .back-block {
                float: left;
                transition: all .4s;
            }
            .back-block {
                padding-top: 7px;
                margin-left: -400px;
                .card__subtitle {
                    padding-top: 0;
                }
            }
        }
    }
}